.bodyContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 0.2fr 0.5fr 1fr; 
  height:100%;
  width:100%
}
.colorSelector {
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
.boarder {
  width: 18em;
  height:18em;
  margin: 0 auto;
  display: flex;
  border: 1px solid #000;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
}
.gridWrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  justify-content: center;
}
.title {
  text-align: center;
}
.button {
  text-align: center;
  margin: 10px;
}
.cell {
  width: 1em;
  height: 1em;
  border: 1px solid #000;
};
